<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:fragment="copy">

    <title>StudentHelp Demo</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
            content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
            id="Viewport" name="viewport" />

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" />

    <link rel="stylesheet" href="/styles.css" />
</head>
<body th:fragment="copy" class="container">
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navheader">
            <button type="button" class="navbar-toggle" data-toggle="collage" data-target="#bs-example-navbar-collapse-1"/>
        </div>
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" th:href="@{/}">Home</a></li>
                <li><a th:href="@{/opportunitylist}">Find opportunities</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- Logo goes here -->
                <li><a href="login.html"></a></li>

            </ul>
        </div>
    </nav>
</body>
</html>